<app-toolbar></app-toolbar>

<h1>Manual de Prácticas</h1>
<p><strong>Elaborado por:</strong> Abril Guzmán Barrera</p>

<hr/>

<div>
  <h2>Ejercicio 01:</h2>
</div>
<app-ejercicio-01></app-ejercicio-01>

<hr/>

<div>
  <h2>Ejercicio 02:</h2> 
</div>
<app-ejercicio-02/>

<hr/>
<div>
  <h2>Ejercicio 03:</h2>
</div>
<app-ejercicio-03/>

<hr/>

<div>
  <h2>Ejercicio 04:</h2>  
</div>
<app-ejercicio-04/>

<hr/>
<div>
  <h2>Ejercicio 05:</h2>
</div>
<app-ejercicio-05/>

<hr/>
<div>
  <h2>Ejercicio 06:</h2>
</div>
<app-ejercicio-06/>